<head>
    <meta name="viewport" content="initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <title>WD Moodle 2.0</title>
</head>
