<% include head.ejs %>

<body>
  <header class="hero">
      <nav class="navigation">
          <ul>
              <li><a href="#content">Skip to content</a></li>
              <li><a href="#">Home</a></li>
              <li><a href="#">Vakken [ ... ]</a></li>
              <li><a href="#content">Weekly geek</a></li>
              <li><a href="#content">Rooster</a></li>
              <li><a href="#content">Klassenlijst</a></li>
          </ul>
      </nav>
      <h1>Webdevelopment</h1>
  </header>

  <div class="content-container">
  <div class="container">
      <!--important slack message-->
      <div class="slack-message">
          <p>
              <strong class="slack-name">Joost:</strong>
              De les van woensdag gaat helaas niet door. Er zal voor de Weekly Geek ook een vervangende spreker worden geregeld. Excuus, donderdag zal ik er wel weer zijn!
          </p>
      </div>

      <!--Course assignment for today-->
      <div class="content-block course today">
          <h2>Maandag 1 april</h2>
          <a class="subtitle" href="#">Webdesign</a>

          <div class="course-meta">
              <span class="location">KSH 05A35</span>
              <span class="time">09:30</span>
          </div>

          <div class="today-content">
              <ul>
                  <li>Introductie & werkwijze</li>
                  <li>Principles of User Interface Design behandelen</li>
              </ul>
          </div>

          <div class="today-footer">
              <a class="btn btn-color" href="#">Slides les 1</a>
              <a class="btn btn-color" href="#">Opdracht 1</a>
              <a class="btn btn-color" href="#">Webdesign repository</a>
          </div>
      </div>

      <!--Vakken overzicht-->
      <div class="content-block course-overview">
          <h2>Vakken</h2>
          <h3>Blok 3</h3>
          <div class="course-table">
              <div class="course-week">
                  <span>Week</span>
                  <span>1 t/m 3</span>
              </div>
              <div class="course-links">
                  <div class="course-detail">
                      <a href="#">Een of ander vak</a>
                      <a href="#">Repo</a>
                  </div>
                  <div class="course-detail">
                      <a href="#">Een of ander vak</a>
                      <a href="#">Repo</a>
                  </div>
                  <div class="course-detail">
                      <a href="#">Een of ander vak</a>
                      <a href="#">Repo</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="sidebar">
      <div class="quicknav">
          <h3>Handy</h3>
          <a href="#">Personal repository</a>
          <a href="#">Join the webdevelopment slack</a>
          <a href="#">Feedback & grades</a>
      </div>
      <div class="teachers">
          <h3>Teachers</h3>
          <a href="#">Joost Faber</a>
          <a href="#">Koop Reynders</a>
      </div>
  </div>
  </div><!---->

  <% include scripts.ejs %>
</body>