.home-page {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2.5rem;
  }

  input[type="search"] {
    width: 100%;
    margin: $size-16 0 0 0;
  }
  header {
    grid-column: 1 / span 3;
  }

  h1 {
    font-size: $size-64;
    text-transform: uppercase;
  }

  section {
    grid-column: 2 / span 2;
    position: relative;
  }

  nav {
    .sticky {
      position: sticky;
      top: 0;
    }
  }

  ol a,
  article > a {
    display: block;
    padding: $size-8;
  }

  ul {
    list-style-type: none;
    padding: $size-24 0 0 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    button {
      padding: $size-8 0;
      width: 100%;
      border: 1px solid $primary-color;
      color: $primary-color;
      border-radius: 0.25rem;
      background-color: transparent;
      &:hover {
        border-color: darken($primary-color, 10%);
        color: darken($primary-color, 10%);
      }
    }
  }

  ol {
    margin: 0;
    padding: $size-24 0 $size-32 $size-32;
  }

  article {
    // position: relative;
    padding: $size-16 0;
    border-bottom: solid 1px $primary-color;
    margin: $size-24 0;
    background-color: $light-background-color;
    position: relative;
    z-index: -1;
  }

  .principle-number {
    position: absolute;
    z-index: -1;
    color: rgba($color: #000000, $alpha: 0.1);
    font-size: 5em;
  }

  // .principle {
  //   transition: height 0.2s ease-in-out, padding 0.2s ease-in-out,
  //     margin 0.2s ease-in-out, opacity 0.2s ease-in-out;
  // }

  .inactive {
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }

  .nomatch {
    position: absolute;
    z-index: -3;
    width: 100%;
    opacity: 0.5;
    top: $size-32;
    left: 0;
    font-size: $size-32;
    text-align: center;
  }
}
