$body-font: sans-serif;
$body-font-size: 1.2rem;

$header-font: sans-serif;
$h1-font-size: 2.75rem;
$h2-font-size: 2.5rem;
$h3-font-size: 2.25rem;
$h4-font-size: 1.75rem;
$h5-font-size: 1.5rem;
$h6-font-size: 1.25rem;

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
  margin: $size-16 0 $size-24 0;
}
