//// Importing other style documents
@import "variables.scss";
@import "typography.scss";
@import "index.scss";
@import "detail.scss";

//// Base styles
body {
  background-color: $body-background-color;
  min-height: 100vh;
  margin: 0;
}

a {
  color: $primary-color;
  cursor: pointer;
  text-decoration: none;
  transition: color $link-transition ease-in-out,
    box-shadow $link-transition ease-in-out,
    background-color $link-transition ease-in-out;
  &:hover,
  &:focus {
    color: darken($primary-color, 10%);
  }
}

button {
  cursor: pointer;
}

:focus {
  outline: none;
  box-shadow: inset 0px 0px 0px 2px rgba(0, 159, 232, 1);
}

:active {
  outline: none;
  box-shadow: none;
}

input[type="search"] {
  outline: 0;
  border: 1px solid $primary-color;
  padding: $size-8;
  font-size: $size-16;
  border-radius: $border-radius-small;
}

// .sr-link {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   font-size: 0;
// }

main {
  max-width: 67.5rem;
  margin: auto;
}
