html {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #171717;
  scroll-behavior: smooth;
}
html:not(h1), html:not(h2), html:not(h3), html:not(h4), html:not(h5), html:not(h6) {
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.5rem;
  margin: 1rem 0 1.5rem 0;
}

.home-page main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.5rem;
}
.home-page input[type=search] {
  width: 100%;
  margin: 1rem 0 0 0;
}
.home-page header {
  grid-column: 1/span 3;
}
.home-page h1 {
  font-size: 4rem;
  text-transform: uppercase;
}
.home-page section {
  grid-column: 2/span 2;
}
.home-page nav .sticky {
  position: sticky;
  top: 0;
}
.home-page ol a,
.home-page article > a {
  display: block;
  padding: 0.5rem;
}
.home-page ul {
  list-style-type: none;
  padding: 1.5rem 0 0 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.5rem;
}
.home-page ul button {
  padding: 0.5rem 0;
  width: 100%;
  border: 1px solid #c6003f;
  color: #c6003f;
  border-radius: 0.25rem;
  background-color: transparent;
}
.home-page ul button:hover {
  border-color: #93002f;
  color: #93002f;
}
.home-page ol {
  margin: 0;
  padding: 1.5rem 0 2rem 2rem;
}
.home-page article {
  position: relative;
  padding: 1rem 0;
  border-bottom: solid 1px #c6003f;
  margin: 1.5rem 0;
}
.home-page .principle-number {
  position: absolute;
  z-index: -1;
  color: rgba(0, 0, 0, 0.1);
  font-size: 5em;
}
.home-page .principle {
  transition: height 0.2s ease-in-out, padding 0.2s ease-in-out, margin 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.home-page .inactive {
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
}

.detail-page main {
  max-width: 50rem;
}
.detail-page section {
  padding: 0 0 2rem 0;
}
.detail-page section:first-of-type {
  font-size: 1.5rem;
}
.detail-page li span {
  font-style: italic;
  color: #5e5e5e;
}
.detail-page h1 {
  display: flex;
  align-items: center;
}
.detail-page h1 i {
  font-size: 1.5rem;
  margin: 0 1rem;
}

.text-highlight {
  box-shadow: inset 10px 10px 0px 200px rgba(255, 204, 0, 0.598);
  color: #93002f;
}
.text-highlight:hover {
  box-shadow: inset 10px 10px 0px 200px #ffcc00;
}
.text-highlight:focus {
  box-shadow: inset 10px 10px 0px 200px #ffcc00, 0px 0px 0px 2px #2e6b88;
}

body {
  background-color: whitesmoke;
  min-height: 100vh;
}

a {
  color: #c6003f;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
a:hover, a:focus {
  color: #93002f;
}

button {
  cursor: pointer;
}

:focus {
  outline: none;
  box-shadow: inset 0px 0px 0px 2px #009fe8;
}

:active {
  outline: none;
  box-shadow: none;
}

input[type=search] {
  outline: 0;
  border: 1px solid #c6003f;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

main {
  max-width: 67.5rem;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
