html {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #171717;
  scroll-behavior: smooth;
}
html:not(h1), html:not(h2), html:not(h3), html:not(h4), html:not(h5), html:not(h6) {
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.5rem;
  margin: 1rem 0 1.5rem 0;
}

.home-page main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2.5rem;
}
.home-page main > header {
  text-align: center;
}
.home-page main > header p {
  font-size: 1.5rem;
}
.home-page input[type=search] {
  width: 100%;
  margin: 1rem 0 0 0;
}
.home-page header {
  grid-column: 1/span 3;
}
.home-page section {
  grid-column: 2/span 2;
  position: relative;
}
.home-page nav .sticky {
  position: sticky;
  top: 0;
}
.home-page ol a,
.home-page article > a {
  display: block;
  padding: 0.5rem;
}
.home-page ul {
  list-style-type: none;
  padding: 1.5rem 0 0 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.5rem;
}
.home-page ul button {
  padding: 0.5rem 0;
  width: 100%;
  border: 1px solid #c6003f;
  color: #c6003f;
  border-radius: 0.25rem;
  background-color: transparent;
}
.home-page ul button:hover {
  border-color: #93002f;
  color: #93002f;
}
.home-page ol {
  margin: 0;
  padding: 1.5rem 0 2rem 2rem;
}
.home-page article {
  padding: 1rem 0;
  border-bottom: solid 1px #c6003f;
  margin: 1.5rem 0;
  background-color: #f9f9f9;
  position: relative;
  z-index: 1;
}
.home-page .principle-number {
  position: absolute;
  z-index: 1;
  color: rgba(0, 0, 0, 0.1);
  font-size: 5em;
}
.home-page .inactive {
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
}
.home-page .nomatch {
  position: absolute;
  z-index: -3;
  width: 100%;
  opacity: 0.5;
  top: 2rem;
  left: 0;
  font-size: 2rem;
  text-align: center;
}
.home-page #principles-list a {
  position: relative;
  z-index: 1;
}
.home-page #principles-list a:hover > .wtf-indicator {
  opacity: 1;
}
.home-page .wtf-indicator {
  font-size: 0.8rem;
  position: absolute;
  background-color: #1f1f1f;
  color: #fff;
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: normal;
  top: -2rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.home-page .wtf-indicator::after {
  content: "";
  position: absolute;
  left: 1rem;
  bottom: -0.5rem;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #1f1f1f;
}

.detail-page > header {
  text-align: center;
}
.detail-page > header img {
  width: 100%;
  max-width: 65rem;
  max-height: 50rem;
  object-fit: cover;
}
.detail-page main {
  max-width: 50rem;
}
.detail-page button {
  padding: 0.5rem 1rem;
  border: solid #c6003f 2px;
  border-radius: 4px;
  color: #c6003f;
  font-size: 1rem;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.detail-page button:active, .detail-page button.active {
  background-color: #c6003f;
  color: #fff;
  box-shadow: none;
}
.detail-page button:focus, .detail-page button:hover {
  border-color: #93002f;
  color: #93002f;
}
.detail-page button.active:hover, .detail-page button.active:focus {
  background-color: #93002f;
  border-color: #93002f;
  color: #fff;
}
.detail-page section {
  padding: 0 0 2rem 0;
}
.detail-page section:first-of-type {
  font-size: 1.5rem;
}
.detail-page li span {
  font-style: italic;
  color: #5e5e5e;
}
.detail-page h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-page h1 i {
  font-size: 1.5rem;
  margin: 0 1rem;
}
.detail-page .example-images {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem 1rem;
  padding-top: 2rem;
}
.detail-page .example-images img {
  height: 10rem;
  width: 10rem;
  border-radius: 50rem;
  object-fit: cover;
  margin: auto;
  display: block;
  opacity: 0.6;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.detail-page .example-images a {
  display: block;
}
.detail-page .example-images a:hover img {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  opacity: 1;
}

.text-highlight {
  box-shadow: inset 10px 10px 0px 200px rgba(255, 204, 0, 0.598);
  color: black;
}
.text-highlight:hover {
  box-shadow: inset 10px 10px 0px 200px #ffcc00;
  color: black;
}
.text-highlight:focus {
  box-shadow: inset 10px 10px 0px 200px #ffcc00, 0px 0px 0px 2px #2e6b88;
  color: black;
}

.example-page main {
  padding: 2.5rem;
}
.example-page section p {
  font-size: 1.5rem;
}

body {
  background-color: #f9f9f9;
  min-height: 100vh;
  margin: 0;
}

a {
  color: #c6003f;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
a:hover, a:focus {
  color: #93002f;
}

button {
  cursor: pointer;
}

:focus {
  outline: none;
  box-shadow: inset 0px 0px 0px 2px #009fe8;
}

:active {
  outline: none;
  box-shadow: none;
}

input[type=search] {
  outline: 0;
  border: 1px solid #c6003f;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

main {
  max-width: 67.5rem;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
